{% extends '@GeekBlog/Default/base.html.twig' %}
{% block body %}
    <div class="well">
        <div class="navigation" align="center">
            <div class="well">
                <a style="margin: 1px" class="btn-xs btn-primary">Post per page -> </a>
                <a style="margin: 1px" class="btn-xs btn-primary" href="{{ path("postByUser", {'user' :  currentUser.id , 'limit' : 5 })}}">
                    <span class="glyphicon glyphicon-filter"></span> 5 </a>
                <a style="margin: 1px" class="btn-xs btn-primary" href="{{ path("postByUser", {'user' :  currentUser.id , 'limit' : 10 })}}">
                    <span class="glyphicon glyphicon-filter"></span> 10 </a>
                <a style="margin: 1px" class="btn-xs btn-primary" href="{{ path("postByUser", {'user' :  currentUser.id , 'limit' : 20 })}}">
                    <span class="glyphicon glyphicon-filter"></span> 20 </a>
            </div>
            {{ knp_pagination_render(pagination) }}
        </div>
        {% for post in pagination %}
            <div class="well">
                <a href="{{ path("viewPost", {'id' : post.getId() })}}">
                    <h2> {{post.title}}</h2>
                </a>
                <h5><span class="glyphicon glyphicon-time"></span>Post by
                    <a href="{{ path("postByUser", {'user' :  currentUser.id })}}">
                        <span class="glyphicon glyphicon-user"></span> {{  post.user.getUsername  }} </a>, {{ post.created | date('Y-m-d') }}</h5>
                {% for tag in post.getTags %}
                <a class="btn-xs btn-primary" style="margin: 1px" href="{{ path("postByTag", {'tag' : tag.getId })}}">
                    <span class="glyphicon glyphicon-tag"></span> {{ tag.getName }} </a>
                {% endfor %}<hr>
                <p>
                    {{ post.content}}
                </p>
                <div align="right">
                    <a class="btn-xs btn-primary" href="{{ path("postByCategory", {'category' : post.getCategory().getId() })}}">
                        <span class="glyphicon glyphicon-chevron-right"></span> {{ post.getCategory().getName() }} </a>
                </div>
            </div>
        {% endfor %}
        <div class="navigation" align="center">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}

{% block right %}
    <div class="well">
        {{ render(controller('GeekBlogBundle:Tag:list')) }}
    </div>
{% endblock %}