{% extends '@GeekBlog/Default/base.html.twig' %}
{% block body %}
    {{ wo_render_breadcrumbs() }}
    <div class="well">
        <h2> {{post.title}}</h2>
        <h5><span class="glyphicon glyphicon-time"></span>Post by {{ post.user.getUsername }}
            {#/SUBSCRIBER/#}|
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {% if app.user.haveThisSubscriber(post.getUser())%}
                    <a style="color: Green" href="{{ path("subscribecheck", {'user' : post.getUser().getId() })}}">
                        <span class="glyphicon glyphicon-paperclip"></span> Subscribed </a>
                {% else %}
                    <a style="color: Red" href="{{ path("subscribecheck", {'user' : post.getUser().getId() })}}">
                        <span class="glyphicon glyphicon-paperclip"></span> not Subscribed </a>
                {% endif %}
            {% else %}
                <a style="color: Grey" href="{{ path("subscribecheck", {'user' : post.getUser().getId() })}}">
                    <span class="glyphicon glyphicon-paperclip"></span> SignIn </a>
            {% endif %}
            |{#/SUBSCRIBER/#}
            , {{ post.created | date('Y-m-d') }}</h5>
        {% for tag in post.getTags %}
        <a class="btn-xs btn-primary" style="margin: 1px" href="{{ path("postByTag", {'tag' : tag.getId })}}">
            <span class="glyphicon glyphicon-tag"></span> {{ tag.getName }} </a>
        {% endfor %}<hr>
        <p>
            {{ post.content}}
        </p>
        <div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {% if post.isLiked(app.user)  %}
                    <a style="position: absolute; left: 10%; color: Red" href="{{ path("likecheck", {'post' : post.getId() })}}">
                        <span class="glyphicon glyphicon-heart"></span> {{ post.getLikeCount() }} </a>
                {% else %}
                    <a style="position: absolute; left: 10%; color: Blue" href="{{ path("likecheck", {'post' : post.getId() })}}">
                        <span class="glyphicon glyphicon-heart"></span> {{ post.getLikeCount() }} </a>
                {% endif %}
            {% else %}
                <a style="position: absolute; left: 10%; color: Blue" href="{{ path("likecheck", {'post' : post.getId() })}}">
                    <span class="glyphicon glyphicon-heart"></span> {{ post.getLikeCount() }} </a>
            {% endif %}

            <a style="position: absolute; right: 10%" class="btn-xs btn-primary" href="{{ path("postByCategory", {'category' : post.getCategory().getId() })}}">
                <span class="glyphicon glyphicon-chevron-right"></span> {{ post.getCategory().getName() }} </a>
        </div>
        <br>
        {% for comment in post.comments %}
        <div class="well">
            <h3> {{comment.getUser().getName()}}</h3>
            <h5><span class="glyphicon glyphicon-time"></span>{{ comment.created | date('Y-m-d') }} (last update: {{ post.updated | date('Y-m-d') }})</h5>
            {{ comment.content}}
        </div>
        {% endfor %}
    </div>
    {% block comment %}
        <div class="well">
            <h3>Comment: <span class="glyphicon glyphicon-pencil"></span></h3>
            {{ form(form) }}
        </div>
    {% endblock %}
{% endblock %}

{% block right %}
    <div class="well">
        {{ render(controller('GeekBlogBundle:Tag:list')) }}
    </div>
{% endblock %}