<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <title>GeekBlog</title>
    </head>
    <body>
    <div class="col-md-12">
        {% block header %}
            <div class="jumbotron" style="height: 0"> </div>
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar">ffff</span>
                            <span class="icon-bar">ggg</span>
                            <span class="icon-bar">ddd</span>
                        </button>
                        <a class="navbar-brand" href="{{ path('homepage') }}">GeekBlog</a>
                    </div>

                    <div id="navbar" class="navbar-collapse collapse">
                        <form class="navbar-form navbar-nav">
                                <ul class="nav nav-pills">
                                    <li class="dropdown">
                                        <a href="" data-toggle="dropdown" class="dropdown-toggle">
                                            {{ "Locale" | trans }}
                                            <b class="caret"></b>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="{{ path("locale", {'locale' :  'ua' })}}">UA</a></li>
                                            <li><a href="{{ path("locale", {'locale' :  'en'})}}">EN</a></li>
                                        </ul>
                                    </li>
                                </ul>
                        </form>
                           <form class="navbar-form navbar-right">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <a class="btn btn-default pull-left" href="{{ path("user_room") }}">
                                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> User room </a>
                                <a class="btn btn-default pull-left" href="{{ path("logout") }}">
                                    <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> SignOut </a>
                            {% else %}
                                <a class="btn btn-default pull-left" href="{{ path("login") }}">
                                    <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> SignIn </a>
                            {% endif %}
                           </form>
                    </div>
                </div>
            </nav>
        {% endblock %}
    </div>
    <div class="col-md-2">
        <div class="well">
        {% block menu %}
            {{ knp_menu_render('main') }}
        {% endblock %}
        </div>
    </div>
    {% block login %}
    <div class="col-md-8">
        {% block body %}{% endblock %}
    </div>
    <div class="col-md-2">
        {% block right %}{% endblock %}
    </div>
    {% endblock %}
    </body>
    <footer class="footer" style="position: revert; bottom: 0; width: 100%">
        {% block footer %}
            <footer id="myFooter">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3">
                            <h5>Get started</h5>
                            <ul>
                                <li><a href="{{ path('homepage') }}">Home</a></li>
                                <li><a href="{{ path('login') }}">Sign up</a></li>
                                <li><a href="{{ path('register') }}">Registration</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-3">
                            <h5>About us</h5>
                            <ul>
                                <li><a href="#">Company Information</a></li>
                                <li><a href="#">Contact us</a></li>
                                <li><a href="#">Reviews</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-3">
                            <h5>Support</h5>
                            <ul>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Help desk</a></li>
                                <li><a href="#">Forums</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-3 info">
                            <h5>Information</h5>
                            <p> This blog was created using the symfony magic :) </p>
                        </div>
                    </div>
                    <div class="second-bar">
                        <div class="container" align="center">
                            <h5 class="logo"><a> Created with the support of the best GeekHub teachers!<br> &copy 2018 </a></h5>
                        </div>
                    </div>
                </div>
            </footer>
        {% endblock %}
    </footer>
</html>